<div class="container">
  <div class="sidepanel-container">
    <app-sidepanel></app-sidepanel>
  </div>
  <div class="form-panel">
    <button (click)="onCreateNew()" class="create-btn">Create new</button>
    <form [formGroup]="form" (ngSubmit)="onAdd()" *ngIf="showForm" class="form">
      <button class="close-btn" (click)="onClose()">&#10006;</button>
      <div class="fields">
        <label for="">Name</label>
        <input type="text" name="" id="" formControlName="name" />
      </div>
      <div class="fields">
        <label for="">Type</label>
        <select name="" id="" formControlName="type">
          <option value="file">File</option>
          <option value="folder">Folder</option>
        </select>
      </div>
      <button class="add-btn" [disabled]="form.invalid">Add</button>
    </form>
  </div>
</div>
