<div class="folder-container" (click)="expandFolder()">
  <div class="info">
    <span
      class="arrow-icon"
      style="font: size 12px"
      [class.isExpanded]="isExpanded"
      >&#11166;</span
    >
    <p class="folder-name">{{ mainFolder["name"] }}</p>
  </div>
  <div class="input-container" *ngIf="showInput">
    <input type="text" (keyup.enter)="onCreateChild($event)" />
  </div>
    <div class="child-items" *ngFor="let child in currentFolder['child']">
      <p>{{ child.name }}</p>
    </div>
  </div>
